/***Home Page Style Sheet****/
#about-me-wrapper{
    background-color: rgb(97, 97, 94);
    max-width: 100%;
    min-height: 300px;
    color:rgb(255, 255, 255);
    padding: 100px 100px;
    text-align: left;
}
.heading-2{
    margin-bottom: 15px;
}
#about-me-text{
    width: 85%;
    float: inline-start;
}
.inline-picture{
    display: inline-block;
    height:500px;
}