/****************************/
/*My Music Page*/
/****************************/

/* These variables are just initial and will be changed in the my-music.jsx page*/
:root {
    --numOfMusicTileCols: 6;
    --tempo: 80;
    --evenMusicTileColor: red;
    --oddMusicTileColor: blue;
    --firstBoxShadow: blue;
    --secondBoxShadow: red;
    --backgroundColor: black;
    --animationIterationCount : infinite;
    --appliedAnimations : colorChange, glow, pulsate;
    --mobileSlideDirection : normal;
}


.music-tile{
    border: none;
    border-radius: 5px;
    height: calc(100vw/var(--numOfMusicTileCols));
    width:100%;
}
.music-tile:hover{
    filter: invert();
}


.animation > .music-tile{
    animation-name: var(--appliedAnimations);
    animation-duration:calc((60000ms * (1/var(--tempo)))), calc((60000ms * (1/var(--tempo))));
    animation-iteration-count: var(--animationIterationCount);
    animation-timing-function: steps(2,jump-none), linear, cubic-bezier(0.165, 0.84, 0.44, 1),linear,linear;
}
.animation > .music-tile:nth-child(odd){
    animation-direction: alternate;
}

.animation > .music-tile:nth-child(even){
    animation-direction: alternate-reverse;
}

.paused > .music-tile{
    animation-play-state: paused;
}
.play > .music-tile{
    animation-play-state:running !important;
}

@keyframes glow {
    0%{    
        box-shadow: 0px 11px 20px 0px var(--firstBoxShadow);
        border-radius: 5px;
    }
    100%{
        border-radius: calc(100vw/var(--numOfMusicTileCols));
        box-shadow: 0px -11px 20px 0px var(--secondBoxShadow);
    }
}
@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes colorChange {
    0%{
        background-color: var(--evenMusicTileColor);
    }
    100%{
        background-color: var(--oddMusicTileColor);
    }  
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes opacityChange {
    from{
        opacity: 1;
    }

    to{
        opacity: .25;
    }
    
}

@keyframes slideUp {
    from{
        margin-bottom:-333px;
    }

    to{
        margin-bottom:0px;
    }
    
}
#music-tile-wrapper{
    display: grid;
    max-height: 100%;
    background-color: white;
    grid-template-columns: repeat(var(--numOfMusicTileCols), 2fr);
    background-color: var(--backgroundColor);
    overflow: hidden;
}
@media only screen and (max-width: 250px) {
    
}


.music-ctrl{
    position:sticky;
    float:left;
}
.music-ctrl-wrapper *{
    animation-name: opacityChange;
    animation-duration: .5s;
    animation-direction:normal;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.music-ctrl-wrapper:hover *{
    animation-name: opacityChange;
    animation-duration: 2s;
    animation-direction:reverse;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


.music-ctrl-wrapper{
    position:fixed;
    bottom: 0px;   
    left:0px;
    z-index: 30;
    width:100%;
    color: black;
    padding:10px;
}
.music-ctrl-btn{
    cursor: pointer;
    width: 125px;
    margin-top:30px;
}
.mb-0{
    margin-bottom:0px;
}

@media (max-width: 500px) {
    .music-ctrl-wrapper{
        transition: all .3s ease-in-out;
        margin-bottom:-333px;
    }
    img.music-ctrl-btn{
        margin-top:15px;
        cursor: pointer;
        width: 64px;
    }
    div.play-pause-container{
        margin-left: 0px;
        margin-top:10px;
        cursor: pointer;
        width: 70px;
        height: 70px;
    }
    span.song-title{
        font-size:25px;
        max-height: 50px;
        margin-top:20px !important;
        margin-left:0px;
        padding-left:5px;
        padding-right:5px;
        overflow: hidden;
        width:60%;
        line-height: 24px;
    }
    img.song-img{
        width:50px;
        height:50px;
        margin: 20px 0 0 5px ;
    }
    .selector-wrapper > .selector{
        margin:0px;
    }
    .selector-wrapper {
        margin-top: 10px;
    }
    .mobile-more-btn{
        display:initial !important;
        border-radius: 5px;
        border-bottom: none;
        opacity:.75;
        position: absolute;
        width: 60px;
        margin-top: -28px;
        height: 28px;
        margin-left: -32px;
    }
}
.mobile-more-btn{
    display: none;
}

.selector{
    margin-left: 25px;
    font-size: 25px;
    max-height:150px;
    max-width: 400px;
    min-width: 300px;
    overflow-y: auto;
    scrollbar-width:thin;
    scrollbar-track-color: var(--backgroundColor);
    scrollbar-color:  var(--backgroundColor) gray;
    scroll-snap-type:proximity;
    scroll-behavior: smooth;
    display: inline-block;
}
.selector-label{
    font-size: 50px;
    margin-top:70px;
    margin-left: 25px;
}

.music-ctrl-wrapper:hover{
    background-color: rgba(197, 197, 221, 0.658);
}

.song-title{
    font-size: 50px;
    color:black;
    text-shadow: 50px white;    
    bottom: 5%;
    margin-left:0px;
    margin-top: 30px;
    width:40%;
}

.themeList{
    max-height:200px;
}

.selector-title{
    background-color: var(--backgroundColor);
}
.selector-wrapper{
    float: left;
}

.song-img{
    height: 150px;
    width: 150px;
    border-style: groove;
    border-width: 5px;
    border-color: black;
}


.play-pause-container {
    margin-top:18px;
    margin-left: 60px;
    background: var(--backgroundColor);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 18px 50px -12px rgba(90, 83, 93, 0.44);
}

.playpause-chk {
    appearance: none;

    + label {
        display: block;
        height: 36px;
        width: 0;
        background: var(--backgroundColor);
        border-right: 30px double #000000;
        transition: 0.1s transform ease;
        position: relative;
        cursor: pointer;

    }

    &:checked + label {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 36px 20px;
        border-color: transparent transparent #130f40 transparent;
        transform: rotate(90deg);
        cursor: pointer;
    }
}

.playpause-chk-icon {
    appearance: none;

    + label::before {
        content: "❚❚";
        display: block;
        font-size: 48px;
        position: relative;
        color: #130f40;
        transition: 0.1s transform ease;
        transform: rotate(-180deg);
    }

    &:checked + label::before {
        content: "►";
        transform: rotate(0);
        
    }
}


