/****************************/
/*My Music Page*/
/****************************/

/* These variables are just initial and will be changed in the my-music.jsx page*/
:root {
    --numOfMusicTileCols: 6;
    --tempo: 80;
    --evenMusicTileColor: red;
    --oddMusicTileColor: blue;
    --firstBoxShadow: blue;
    --secondBoxShadow: red;
    --backgroundColor: black;
    --animationIterationCount : infinite;
    --appliedAnimations : colorChange, glow, pulsate;
}


.music-tile{
    border: none;
    border-radius: 5px;
    height: calc(100vw/var(--numOfMusicTileCols));
    width:100%;
}
.music-tile:hover{
    filter: invert();
}


.animation > .music-tile{
    animation-name: var(--appliedAnimations);
    animation-duration:calc((60000ms * (1/var(--tempo)))), calc((60000ms * (1/var(--tempo))));
    animation-iteration-count: var(--animationIterationCount);
    animation-timing-function: steps(2,jump-none), linear, cubic-bezier(0.165, 0.84, 0.44, 1),linear,linear;
}
.animation > .music-tile:nth-child(odd){
    animation-direction: alternate;
}

.animation > .music-tile:nth-child(even){
    animation-direction: alternate-reverse;
}

.paused > .music-tile{
    animation-play-state: paused;
}
.play > .music-tile{
    animation-play-state:running !important;
}

@keyframes glow {
    0%{    
        box-shadow: 0px 11px 20px 0px var(--firstBoxShadow);
        border-radius: 5px;
    }
    100%{
        border-radius: calc(100vw/var(--numOfMusicTileCols));
        box-shadow: 0px -11px 20px 0px var(--secondBoxShadow);
    }
}
@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes colorChange {
    0%{
        background-color: var(--evenMusicTileColor);
    }
    100%{
        background-color: var(--oddMusicTileColor);
    }  
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

#music-tile-wrapper{
    display: grid;
    max-height: 100%;
    background-color: white;
    grid-template-columns: repeat(var(--numOfMusicTileCols), 2fr);
    padding:46px;
    background-color: var(--backgroundColor);
    overflow: hidden;
}
@media only screen and (max-width: 250px) {
    
}

#play-btn{
    cursor: pointer;
}

#pause-btn{
    cursor: pointer;
}

.music-ctrl{
    position:sticky;
    width: 8em;
    float:left;
}
.music-ctrl:hover{
    cursor: pointer;
}
.music-ctrl-wrapper{
    position:fixed;
    bottom: 0px;   
    left:0px;
    z-index: 30;
    width:100%;
}
.music-ctrl-wrapper:hover{
    background-color: rgba(197, 197, 221, 0.658);
}
.song-title{
    font-size: 50px;
    color:black;
    text-shadow: 50px white;    
    bottom: 5%;
    margin-left:20px;
    margin-top: 70px;
}