/*******Shared Components styling********/
:root {
    --numOfMusicTileCols: 6;
    --tempo: 80;
    --left: 0;
    --top: 0; 
  }

/************************/
/**NAVBAR*/
/************************/
#my-nav-bar-list li{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100vh';
    display: inline;
    margin: 25px 25px ;
    padding: 10px 10px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: rgba(240, 255, 255, 0.205);
    animation-name: linkExpand;
    animation-direction: reverse;
    animation-duration:1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
#my-nav-bar-list li:hover{
    cursor: pointer;
    background-color: rgba(88, 109, 95, 0.781);
    color: rgb(0, 0, 0);
    animation-name: linkExpand;
    animation-duration:1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#my-nav-bar-list li a{
    color: rgb(245, 205, 154);
    text-decoration: none;
    
}

@keyframes linkExpand {
    0% {margin: 25px 25px; padding: 10px ;}
    100% {margin: 50px 50px; padding-left:20px; padding-right: 20px;}
}
@keyframes linkDeflate {
    0%{}
    100% {margin: 25px 25px; padding: 10px ;}
}

#my-nav-bar-wrapper{
    width:100%;
    height: 50px;
    margin-top: 25px;
}



/*************************/
/*HEADER*/
/*************************/
#header-wrapper{
    background-color: black;
    box-shadow: 20px rgb(158, 122, 122);
    border-style: groove;
}



/****************************/
/*My Music Page*/
/****************************/
.music-tile{
    box-shadow: 20px 11px 20px 0px rgb(217, 70, 70);
    border: none;
    border-radius: 5px;
    height: calc(100vw/var(--numOfMusicTileCols));
    width:100%;
}
.music-tile:hover{
    filter: invert();
}

.music-tile:nth-child(odd){
    animation-name: glow;
    animation-duration:calc(60000ms * (1/var(--tempo)));
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
}
.music-tile:nth-child(even){
    animation-name: glow;
    animation-duration: calc(60000ms * (1/var(--tempo)));;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate-reverse;
}

.paused {
    animation-play-state: paused;
}
.play{
    animation-play-state:running !important;
}

@keyframes glow {
    0%{    
        box-shadow: 0px 11px 20px 0px rgb(173, 235, 249);
        height: calc(100vw/var(--numOfMusicTileCols));
        border-radius: 5px;
    }
    100%{
        height: calc(100vw/6);
        border-radius: 20px;
        
        box-shadow: 0px -11px 20px 0px rgb(129, 7, 236);
    }
}

#music-tile-wrapper{
    display: grid;
    max-height: 100%;
    background-color: rgb(0, 0, 0);
    grid-template-columns: repeat(var(--numOfMusicTileCols), 2fr);
}
@media only screen and (max-width: 250px) {
    
}

#play-btn{

}

#pause-btn{

}

.music-ctrl{
    position:sticky;
    width: 8em;
    float:left;
}
.music-ctrl:hover{
    cursor: pointer;
}
.btn-pressed{


}
.music-ctrl-wrapper{
    position:fixed;
    bottom: 0px;   
    left:0px;
    z-index: 30;
    width:100%;
}
.music-ctrl-wrapper:hover{
    background-color: rgba(197, 197, 221, 0.658);
}
.song-title{
    font-size: 50px;
    color:black;
    text-shadow: 50px white;    
    bottom: 5%;
    margin-left:20px;
    margin-top: 70px;
}