/*******Shared Components styling********/
:root {
    --numOfMusicTileCols: 6;
    --tempo: 80;
    --left: 0;
    --top: 0; 
    --backgroundColor: black;

}

/************************/
/**NAVBAR*/
/************************/
#my-nav-bar-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: inline;
    margin: 25px 25px ;
    padding: 10px 10px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: rgba(240, 255, 255, 0.205);
}
#my-nav-bar-list li:hover{
    cursor: pointer;
    background-color: rgba(88, 109, 95, 0.781);
    color: rgb(0, 0, 0);
}

#my-nav-bar-list li a{
    color: rgb(245, 205, 154);
    text-decoration: none;
    font-family: "Jacquard 12", system-ui
}


#my-nav-bar-wrapper{
    width:100%;
    height: 50px;
    margin-top: 25px;
    color: rgb(184, 156, 156);
}

@media (max-width:500px) {
    #my-nav-bar-list li{
        margin: 10px 10px;
    }
}


/*************************/
/*HEADER*/
/*************************/
#header-wrapper{
    background-color:var(--backgroundColor);
    filter:hue-rotate(202deg);
    color:rgb(184, 156, 156);
    box-shadow: 20px rgb(158, 122, 122);
    border-style: groove;
}