/*******Shared Components styling********/
:root {
    --numOfMusicTileCols: 6;
    --tempo: 80;
    --left: 0;
    --top: 0; 
  }

/************************/
/**NAVBAR*/
/************************/
#my-nav-bar-list li{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100vh';
    display: inline;
    margin: 25px 25px ;
    padding: 10px 10px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-color: rgba(240, 255, 255, 0.205);
    animation-name: linkExpand;
    animation-direction: reverse;
    animation-duration:1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
#my-nav-bar-list li:hover{
    cursor: pointer;
    background-color: rgba(88, 109, 95, 0.781);
    color: rgb(0, 0, 0);
    animation-name: linkExpand;
    animation-duration:1s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#my-nav-bar-list li a{
    color: rgb(245, 205, 154);
    text-decoration: none;
    
}

@keyframes linkExpand {
    0% {margin: 25px 25px; padding: 10px ;}
    100% {margin: 50px 50px; padding-left:20px; padding-right: 20px;}
}
@keyframes linkDeflate {
    0%{}
    100% {margin: 25px 25px; padding: 10px ;}
}

#my-nav-bar-wrapper{
    width:100%;
    height: 50px;
    margin-top: 25px;
}



/*************************/
/*HEADER*/
/*************************/
#header-wrapper{
    background-color: black;
    box-shadow: 20px rgb(158, 122, 122);
    border-style: groove;
}